#detail {
    .movie_detail {

        .movie_info {
            padding: 50px 0;

            img {
                width: 100%;
                height: 500px;
                
            }

            .info_main {
                h1 {
                    @include styleText($fs-6, $fw-2, $color-white-3);
                }

                p {
                    @include styleText($fs-11, $fw-1, #adadad);
                    padding: 30px 0;
                    border-bottom: 1px solid;
                }
            }
        }
    }
        button {
            background-color: transparent;
            border: none;
    
            &:focus {
                outline: none;
            }
        }
    .list_cinema{
        display: flex;
        justify-content: center;
    }
        .list_complex {
            display: flex;
            flex-direction: column;
    
            .complex {
                padding: 10px 0;
                width: 100%;
                border-bottom: 1px solid red;
    
                div {
                    opacity: 0.3;
                    overflow: hidden;
                    gap: 10px;
                    transition: all 0.5;
    
                    &:hover {
                        opacity: 1;
                    }
    
                    img {
                        width: 70px;
                        height: 7 0px;
                    }
    
                    p {
                        margin-bottom: 0;
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        text-align: left;
                        @include styleText($fs-1, $fw-1, $color-white-3);
                    }
    
                    a {
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        text-align: left;
                        @include styleText($fs-11, $fw-1, #9e9e9e);
                    }
                }
            }
        }
            .list_showtime {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    border: 5px solid $color-dark-6;
                    border-top: none;
                    background-color: #17171b;
                    transition: all 0.5s;
            
                    .showtime {
                        width: 30%;
                        padding: 15px,
                            10px;
                        margin: 10px;
            
                        &:hover {
                            background-color: #e2e6ea;
                        }
                    }
                }
        
}